extends ../../../global/views/layouts/mainSp.pug

block content
  - let counter = 0;
  h2 Аудиторії
  - if (labels)
    a(href=`/admin/sp/cafedra/${cafedra}/classrooms/add`) Додати
    ul(class="auts")
        each label,index in labels
          li
            a(href=`/admin/sp/cafedra/${label.name}/classrooms`)=label.name + ' кафедра'
  - if (data)
    div(table-wrapper)  
      table(class="fl-table")
        thead
          tr
            th №п/п 
            th Аудиторія 
            th Місць
            th Опис
            th Дії
        tbody
          each item in data
            tr
              td= ++counter
              td= item.name
              td= item.seats_place
              td= item.description
              td 
                a(href=`/admin/sp/cafedra/${item.cafedra}/classrooms/edit/${item.id}` class="edit") Редагувати
                form(action=`/admin/sp/cafedra/${cafedra}/classrooms/delete/${item.id}`, method="post")
                  button(type="submit" class="delete") Видалити
                    i.far.fa-trash-alt