extends ../../../global/views/layouts/main.pug

block content
  h2 Розклад
  - if (data)
    each label,index in labels
      li
        a(href='/admin/cafedra/schedule/show/'+index)=label
    table
      thead
        tr
          th Група
          th Аудиторії
          th Пара
          th Дисципліна
          th Заняття
          th Викладачі
          th Дії
      tbody
        each item in data
          tr
            td= item.group
            td= [item.classroom1, item.classroom2]
            td= item.couple
            td= item.subject
            td= item.lesson_type
            td= [item.teacher1, item.teacher2, item.teacher1_1, item.teacher2_1]
            td
              a(href="/admin/cafedra/schedule/edit/"+item.id) Редагувати