extends ../../../global/views/layouts/mainSp.pug

block content
  - const title = mode === "edit" ? "Редагувати" : mode === "add" ? "Додати" : "";
  - const action = mode === "edit" ? `/admin/sp/schedule/edit/${data._id}`: mode === "add" ? `/admin/sp/schedule/${day}/add` : "";
  - const value_schoolweek = data? data.school_week : "";
  - const value_group = data? data.group : "";
  - const value_couple = data? data.couple : "";
  - const value_cafedra = data? data.cafedra : "";
  - const value_classroom1 = data? data.classroom1 : "";
  - const value_classroom2 = data? data.classroom2 : "";
  - const value_subject = data? data.subject : "";
  - const value_lessontype = data? data.lesson_type : "";
  - const value_teacher1 = data? data.teacher1 : "";
  - const value_teacher2 = data? data.teacher2 : "";
  - const value_teacher1_1 = data? data.teacher1_1 : "";
  - const value_teacher2_1 = data? data.teacher2_1 : "";
  h2=title
  form(action=action method="post")
    div
      label Навчальний тиждень:
      input(type="text" name="school_week" value=value_schoolweek required)
    div
      label Група*:
      input(type="text" name="group" value=value_group required)
    div
      label Пара*:
      input(type="text" name="couple" value=value_couple required)
    div
      label Кафедра:
      input(type="text" name="cafedra" value=value_cafedra)
    div
      label Аудиторія№1*:
      input(type="text" name="classroom1" value=value_classroom1 required)
    div
      label Аудиторія№2:
      input(type="text" name="classroom2" value=value_classroom2)
    div
      label Дисципліна:
      input(type="text" name="subject" value=value_subject)
    div
      label Заняття:
      input(type="text" name="lesson_type" value=value_lessontype )
    div
      label Викладач №1:
      input(type="text" name="teacher1" value=value_teacher1 )
    div
      label Викладач №2:
      input(type="text" name="teacher2" value=value_teacher2)
    div
      label Викладач №3:
      input(type="text" name="teacher1_1" value=value_teacher1_1)
    div
      label Викладач №4:
      input(type="text" name="teacher2_1" value=value_teacher2_1)
    button(type="submit") Зберегти