extends ../../../global/views/layouts/mainSp.pug

block content
  - const title = mode === "edit" ? "Редагувати" : mode === "add" ? "Додати" : "";
  - const action = mode === "edit" ? `/admin/sp/schedule/edit/${data._id}`: mode === "add" ? `/admin/sp/schedule/${day}/add` : "";
  - const value_schoolweek = data? data.school_week : "";
  - const value_group = data? data.group : "";
  - const value_couple = data? data.couple : "";
  - const value_cafedra = data? data.cafedra : "";
  - const value_classroom1 = data? data.classroom1 : "";
  - const value_classroom2 = data? data.classroom2 : "";
  - const value_subject = data? data.subject : "";
  - const value_lessontype = data? data.lesson_type : "";
  - const value_teacher1 = data? data.teacher1 : "";
  - const value_teacher2 = data? data.teacher2 : "";
  - const value_teacher1_1 = data? data.teacher1_1 : "";
  - const value_teacher2_1 = data? data.teacher2_1 : "";
  style 
    include /styles/login.css
  h2(class="title")=title
  div(class="container")
    form(action=action method="post")
      div(class="row")
        div(class="col-25")
          label(for="school_week") Навчальний тиждень:
        div(class="col-75")
          input(type="text" name="school_week" value=value_schoolweek required)
      div(class="row")
        div(class="col-25")
          label Група*:
        div(class="col-75")
          input(type="text" name="group" value=value_group required placeholder="Група")
      div(class="row")
        div(class="col-25")
          label Пара*:
        div(class="col-75")
          input(type="text" name="couple" value=value_couple required placeholder="Пара")
      div(class="row")
        div(class="col-25")
          label Аудиторія№1*:
        div(class="col-75")
          input(type="text" name="classroom1" value=value_classroom1 required placeholder="Аудиторія №1")
      div(class="row")
        div(class="col-25")
          label Аудиторія№2:
        div(class="col-75")
          input(type="text" name="classroom2" value=value_classroom2 placeholder="Аудиторія№2")
      div(class="row")
        div(class="col-25")
          label Дисципліна:
        div(class="col-75")
          input(type="text" name="subject" value=value_subject placeholder="Дисципліна")
      div(class="row")
        div(class="col-25")
          label Заняття:
        div(class="col-75")
          input(type="text" name="lesson_type" value=value_lessontype placeholder="Заняття")
      div(class="row")
        div(class="col-25")
          label Викладач №1:
        div(class="col-75")
          input(type="text" name="teacher1" value=value_teacher1 placeholder="Викладач №1")
      div(class="row")
        div(class="col-25")
          label Викладач №2:
        div(class="col-75")
          input(type="text" name="teacher2" value=value_teacher2 placeholder="Викладач №2")
      div(class="row")
        div(class="col-25")
          label Викладач №3:
        div(class="col-75")
          input(type="text" name="teacher1_1" value=value_teacher1_1 placeholder="Викладач №3")
      div(class="row")
        div(class="col-25")
          label Викладач №4:
        div(class="col-75")
          input(type="text" name="teacher2_1" value=value_teacher2_1 placeholder="Викладач №4")
      button(type="submit" class="signInButton") Зберегти