extends ../../../global/views/layouts/mainSp.pug

block content
  - let counter = 0;
  h2=`Предмети ${current} кафедри`
  - if(labels)
    ul(class="auts")
      each label in labels
        li
          a(href=`/admin/sp/subject/cafedra/${label.id}/show`)=label.number + ' кафедра'
  - if (cafedra_id)
    a(href=`/admin/sp/subject/cafedra/${cafedra_id}/add`) Додати
    form(action=`/admin/sp/subject/cafedra/${cafedra_id}/import`, method="post")
      button(type="submit" ) Імпорт з розкладу
        i.far.fa-trash-alt 
  - if (data)
    div(class="table-wrapper")  
      table(class="fl-table")
        thead
          tr
            th №п/п 
            th Абревіатура
            th Повна назва
            th Дії
        tbody
          each item in data
            tr
              td= ++counter
              td= item.abbreviation
              td= item.title
              td
                a(href=`/admin/sp/subject/cafedra/${cafedra_id}/edit/${item.id}` class="edit") Редагувати
                form(action=`/admin/sp/subject/cafedra/${cafedra_id}/delete/${item.id}`, method="post")
                  button(type="submit" class="delete") Видалити
                    i.far.fa-trash-alt 